.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 1rem 2rem;
    color: var(--foreground);
    border-top: 1px solid var(--foreground);
    width: 100%;
    bottom: 0;
}
